
.fa-circle {
    font-size: 20px; /* Mengatur ukuran ikon */
    margin-right: 5px; /* Memberikan ruang antara ikon dan teks */
    vertical-align: middle; /* Posisikan ikon agar sejajar dengan teks */
}
